@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.navbar {
  width: 100%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(30, 53, 65);
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  font-family: "Pacifico", cursive;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  
}
.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0%;
  background: #009688;
  position: absolute;
  
}

.navbar ul li:hover::after {
  color: #f35525;
  width: 100%;
} 
 .footer {
            background-color: rgb(30, 53, 65);
            color: white;
            text-align: center;
            font-size: 20px;
            padding: 5px 0;
            /*position: fixed;*/
            bottom: 0;
            width: 100%;
        }