@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

.navbar {
  width: 100%;
  height: 60px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(30, 53, 65);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-size: 22px;
    margin-left: 15px;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: width 0.3s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.navbar ul li a.active::after {
  width: 100%;
}
.navbar ul li a.active::after {
  width: 100%; 
  content: '';
  height: 3px;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
}

.villa-name {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  color: #fff;
  margin-right: 40px;
}


.background-img {
  position: relative;

}

.background-img img {
  width: 100%;
  height: auto;
}

.background-text {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  padding: 10px;
}

.section {
  margin-top: 50px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.left-container {
  width: 50%;
  padding: 20px;
}

.right-container {
  width: 50%;
  padding: 20px;
}

.section-heading {
  margin-bottom: 30px;
}

.head-sec {
  font-size: 35px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.head-info-l {
  font-size: 25px;
  margin-bottom: 20px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}

.contact-info > div {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.phone-sec {
margin-top: 50px;
background-color: #f6f6f6;
display:flex;
border: 1px solid black;
box-shadow: 2px 2px 3px 2px  rgba(0, 0, 0, 0.15);
margin-left: 40px;
padding: 10px;
height: 100px;
width: 250px;
border-radius: 5px;
}
.email-sec{
background-color: #f6f6f6;
display:flex;
border: 1px solid black;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
margin-left: 40px;
margin-top: 50px;
padding: 10px;
height: 100px;
width: 250px;
border-radius: 5px;
}
.img-icon {
  height: 50px;
  width: 55px;
  margin-right: 15px;
}

.img-desc {
  font-size: 22px;
  text-decoration: none;
  color: #333;
}

#contact-form {
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 20px;
}

#contact-form label {
  font-size: 18px;
  color: #3a3a3a;
  margin-bottom: 15px;
}

#contact-form input,
#contact-form textarea {
  background-color: #f6f6f6;
  width: 100%;
  padding: 0px 15px;
  border: none;
  border-radius: 22px;
  font-size: 16px;
  margin-bottom: 15px;
}

#contact-form textarea {
  height: 120px;
}

#contact-form button {
  background-color: rgb(30, 53, 65);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#contact-form button:hover {
  background-color: #f35525;
}

.footer {
  background-color: rgb(30, 53, 65);
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    height: auto;
  }

  .navbar ul {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  .navbar ul li {
    margin: 5px 0;
  }

  .villa-name {
    display: none;
  }

  .background-text {
    font-size: 24px;
  }

  .section {
    flex-direction: column;

  }
  .background-img{
   margin-top: 195px;
  }

  .left-container {
    width: 100%;
    margin-top: 10px;
  }

  .right-container {
    width: 100%;
  }

  .contact-info > div {
    padding: 8px;
  }

  .img-icon {
    height: 40px;
    width: 45px;
    margin-right: 10px;
  }

  .img-desc {
    font-size: 18px;
  }

  #contact-form {
    padding: 15px;
  }

  #contact-form label {
    font-size: 16px;
  }

  #contact-form input,
  #contact-form textarea {
    font-size: 14px;
    margin-bottom: 10px;
  }

  #contact-form button {
    font-size: 14px;
    padding: 8px 16px;
  }
}