@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* Header Section*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    margin: 0px;
    padding: 0px;
}
.navbar {
    width: 100%;
    height: 30px;
   padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(30, 53, 65);
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
}
.navbar ul li a.active::after {
    width: 100%; 
    content: '';
    height: 3px;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
}
.navbar ul li::after {
    content: '';
    height: 3px;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.navbar ul li:hover::after {
    width: 100%;
}
.site-name {
    font-size: 60px;
    font-family: "Pacifico", cursive;
    margin-right: 50px;
}
.card-container {
    background-image: url(./../images/backimg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    background-color:#ffffcc;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
  
}
.card{
    height: 280px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
   margin-bottom: 30px;
}
.card:hover{
    box-shadow: 2px 5px 8px gray;
}
.card-img{
    height: 140px;
    width:300px;
    padding: 0px;
    display: block;
    margin-left: 0;
    margin-right: 0;
    border-radius: 10px;
}
.villa-name{
    background-color: tomato;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin: 5px;
    border-radius: 5px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info{
    color:#000033;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 15px;

}
.key-value{
    font-size: 18px;
}
span{
    color: green;
    font-weight: bold;
}
a{
    color: white;
    text-decoration: none;
}
.btn{
    background-color:  rgb(30, 53, 65);
    color: #ffffcc;
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    height: 30px;
    margin-top: 10px;
    border: 2px solid black;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 2px 2px 8px rgb(30 53 65);
}
.section {
    margin-bottom: 40px;
}
.footer {
    background-color: rgb(30, 53, 65);
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media screen and (max-width: 720px){
    .navbar ul li{
        margin: 0 10px;
    }
    .card-container{
        padding: 5px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
       }
       .card{
        margin: 20px;
        height: 210px;
        width: 250px;
       }
       .card-img{
        width: 240px;
        margin-left: auto;
        margin-right: auto;
        height: 120px;
       }
       .info{
        display: none;
       }
       .btn{
        margin-top: 5px;
        margin-bottom: 30px;
       }
       .footer{
        display: none;
       }
  }

@media screen and (min-width : 720px ) and (max-width: 741px) {
    .card-container{
        padding: 5px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: start;
       }
       .card{
        margin: 5px;
        margin-bottom: 20px;
       }
  }
@media screen and (min-width: 740px) and (max-width: 1092px) {
    .card-container{
        padding: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: start;
       }
       .card{
        margin: 20px;
       }
  }
  @media screen and (min-width: 1092px) and (max-width: 1156px) {
    .card-container{
        padding: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items: start;
       }
       .card{
        margin: 20px;
       }
  }
  @media screen and (min-width: 1157px) and (max-width: 1390px) {
   .card-container{
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
   }
   .card{
    margin: 30px;
   }
  }