@font-face {
    font-family: "myFont";
    src: url(./font.ttf);
}
body{
    background-image: url('./../images/white.avif');
    background-size: cover;
    background-clip: border-box;  
}
.navbar {
    width: 100%;
    height: 30px;
   padding: 20px 0;
    display: flex;
   
    justify-content: space-between;
    background-color: rgb(30, 53, 65);
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    align-items: start;
}
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    align-items: start;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.navbar ul li:hover::after {
    width: 100%;
}
 li{
    text-align: -webkit-match-parent;
}


.container {
    background-image: url('./../images/white.avif'); 
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
@media screen and (min-width:500px) and (max-width:1000px){
    .container{
        background-color: rgb(250, 246, 242);
        height: 500px;
        width: 400px;
        font-size: 10px;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        
    }
    }

.feedback-form {
    background: rgb(215, 247, 215) ;
    border-radius: 10px;
    box-shadow: 0 4px 8px gray;
    max-width: 550px;
    width: 100%;
    padding: 1%;
    margin-top: 20px;
 
}

h2{
    text-align: center;
    margin-top: 20px;
    padding: auto;
    color: #45a049;
}

.label{
    display: block;
    margin-left: 5px;
}

.finput{
    height: 2%;
    width: 85%;
    padding: 10px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40%;
    margin-top: 15px;
}

.subbtn:hover {
    background-color: #45a049;
}


.e{
    margin: 25px;
   
}

.feedback{
    width: 90%;
    border-radius: 5px;
    border: none;
    margin: 8px;

}

.navbar{
   
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.navbar-links{
    display: flex;
    list-style: none;
    gap: 70px; 
}
.nav-login{
    height: 30px;
}
.navbar-container{
    width: 100%;
    padding: 20px;
    background-color: aqua;
    position: fixed;

}
@media screen and (max-width: 720px){
    .navbar ul li{
        margin: 0 10px;
    }
}
.footer {
    background-color: rgb(30, 53, 65);
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 0 2px;
    /*position: fixed;*/
  bottom: 0%;
    width: 100%;
    height: 30px;
}