@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* Header Section*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.navbar {
    width: 100%;
    height: 30px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(30, 53, 65);
    position: fixed;
}
.villa-name {
    font-family: "Pacifico", cursive;
    font-size: 40px;
    color: #fff;
    margin-right: 40px;
  }  


body {
    margin: 0;
    padding: 0;

}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.navbar ul li:hover::after {
    width: 100%;
}

.villa-btn {
    margin-left: 450px;
    background-color: rgb(245, 175, 175);
    color: black;
    border: none;
    border-radius: 3px;
    padding: 15px 40px;
    font-size: 26px;

}

h3 {
    margin-left: 10px;
    margin-left: 100px;
}

.villa-description {
    margin-left: 100px;
    margin-right: 80px;

}


h4 {
    margin-left: 86px;
    font-size: 25px;

}

h2 {
    text-align: center;
    font-family: "Ubantu", sans-serif;
    color: white;
    font-size: 40px;
    margin-top: 0.01px;


}

.text {
    margin-left: 2px;

}

.villa-block {
    display: block;
    height: 440px;
    width: 1100px;
    background-color: lavenderblush;
    margin-left: 125px;
    padding: 4.5px;
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;

}

.front {
    display: flex;
    margin: 20px;
    background-color: white;
    height: 50px;
    padding: 5px 10px;
    border: 1px solid black;
    font-size: 20px;
    flex-wrap: wrap;

}

.front:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.bg {
    font-size: 25px;
    color: black;
    margin-left: 900px;
}

.block1 {
    display: block;
    background-color: lavenderblush;
    height: 400px;
    width: 700px;
    margin-left: 300px;
    margin-top: 30px;
    border: 2px solid black;
    padding: 10px;

    border-radius: 10px 10px 10px 10px;
}

.sub-block {
    display: flex;
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 18px;
    cursor: pointer;


}

.sub-block:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.text {
    margin-left: 10px;
    color: black;

}

.villa-photos {
    display: flex;
    background-color: lavenderblush;

    height: 504px;
    width: 1200px;
    margin-left: 60px;
    margin-top: 40px;
    border: 2px solid black;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    border-radius: 10px 10px 10px 10px;

}

.ph1:hover {


    cursor: pointer;

    transform: scale(1.2);
    border-radius: 5px;
    box-sizing: border-box;
    transition: 0.7s;




}

.villa-rating {
    background-color: rgb(246, 247, 198);
    border: 4px solid rgb(13, 13, 14);
    height: 120px;
    width: 1180px;
    margin-left: 78px;
    padding: 10px;
    background-color: lemonchiffon;
    border-radius: 10px 10px 10px 10px;
}

.btn4 {
    color: black;
    font-size: 30px;
    display: inline-block;

}



.main1 {
    color: black;
    margin-left: 22px;
    font-size: 25px;

}

.btn3 {
    background-color: blue;
    color: white;
    padding: 10px 10px;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 620px;


}

.bg5 {
    font-size: 25px;
    color: black;
}

.btn3:hover {
    transform: scale(1.2);
    transition: 0.3s;
    font-size: 20px;
}

.near {
    display: flex;
    width: 1500px;
    height: 273px;
    border: black;
    background-color: white;
    margin-left: 70px;

}

.near1:hover {
    transform: scale(1.2);
    transition: 0.4s;
}

.location1 {
    color: black;
    font-size: 17px;
    
    align-self: center;


}

.video {

    margin-left: 250px;
    margin-top: 20px;
    
}

.v1 {
    border-radius: 10px;
    border: none;

}

.v1:hover {
    cursor: pointer;

}


.des {
    color: black;
    margin-left: 400px;
    font-size: 20px;
}



.p5 {
    color: black;
    font-size: 17px;


}

.p6 {
    color: black;
    font-size: 14px;
}

.section {
    width: 100%;
    height: 630px;

}

.background-text {
    position: absolute;
    color: black;
    padding: 10px;
    top: 24%;
    font-size: 32;
    margin-left: 360px;
}

.background-text2 {
    position: absolute;
    color: yellow;
    padding: 10px;
    top: 35%;
    font-size: 55px;
    margin-left: 260px;
}

.background-text3 {
    position: absolute;
    color: black;
    padding: 10px;
    top: 55%;
    font-size: 34px;
    margin-left: 385px;
}


.footer {
    background-color: rgb(30, 53, 65);
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 5px 0;
    bottom: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.background-text5 {
    position: absolute;
    color: rgb(10, 10, 10);
    top: 70%;
    font-size: 45px;
    margin-left: 550px;
}

.background-text6 {
    position: absolute;
    color: yellow;
    top: 82%;
    font-size: 25px;
    margin-left: 520px;
}

.background-img {
    width: 100%;
    height: 800px;
}

/* small divices */
@media screen and (min-width: 150px) and (max-width: 600px) {
    .background-img {
        width: 100%;
        height: 600px;

    }

    .background-text {
        margin-left: 50px;
        font-size: 27px;

    }

    .background-text1 {
        margin-left: 50px;
        font-size: 27px;
    }

    .background-text2 {
        margin-left: 50px;
        font-size: 25px;
    }

    .background-text3 {
        margin-left: 50px;
        font-size: 24px;
        margin-left: 90px;
    }

    .background-text5 {
        margin-left: 100px;
        font-size: 24px;
        margin-left: 250px;
    }

    .background-text6 {
        margin-left: 50px;
        font-size: 24px;
        margin-left: 130px;
    }

    .navbar ul li {
        margin: 0 7px;
    }

    .navbar ul li a {
        font-size: 17px;
    }

    h4 {
        margin-left: 20px;
    }

    h3 {
        margin-left: 20px;
    }

    .villa-description {
        margin-left: 20px;
    }

    .near {
        flex-direction: column;
    }

    .villa-block {
        margin-top: 480px;
        margin-left: 20px;
        width: 500px;

    }

    .block1 {
        margin-left: 20px;

    }

    .front {
        padding: 5px;
    }

    .bg {
        margin-left: 180px;
        font-size: 22px;
    }

    .near1:hover {
        transform: scale(1.1);
        transition: 0.2s;
    }

    .block1 {
        width: 500px;
    }

    

    .villa-photos {
        width: 500px;
        height: 750px;
        margin-left: 10px;
    }

    .ph1 {
        width: 250px;
    }

    .villa-rating {
        margin-left: 10px;
        width: 520px;
        height: 130px;
    }

    .des {
        margin-left: 10px;


    }

    
    .btn3 {
        margin-left: 50px;
        padding: 10px 10px;
        font-size: 15px;
    }

    .btn3:hover {
        transform: scale(1);
        transition: 0.2s;
    }

    .footer {
        font-size: 17px;
    }
}


/* normal device */
@media screen and (min-width: 601px) and (max-width:768px) {}

/* tablets devices */
@media screen and (min-width: 769px) and (max-width:992px) {}

/* large devices */
@media screen and (min-width: 993px) and (max-width:1200px) {}