@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.navbar {
    width: 100%;
    height: 60px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(30, 53, 65);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    background: #009688;
    position: absolute;
    left: 0;
    bottom:-10px;
    transition: width 0.3s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.navbar ul li a.active::after {
    width: 100%;
}
.navbar ul li a.active::after {
    width: 100%; 
    content: '';
    height: 3px;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
}
.villa-name {
    font-family: "Pacifico", cursive;
    font-size: 40px;
    color: #fff;
    margin-right: 40px;
}


.footer {
    background-color: rgb(30, 53, 65);
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 5px 0;
    bottom: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
  
  .img-container {
      margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
     justify-content: space-between;
    
    }
    
    .img-card {
        margin: 50px;
        padding: 10px;
        background-color: #f6f6f6;
        width: 250px;
        height: 300px;
        border-radius: 10px;
        border: none;
        box-shadow: 2px 2px 5px ;
    
    
    }
    
    .img {
        border-radius: 5px;
        height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .img-name {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .h3{
      margin-top: 5px;
    }
    .icon{
      height: 50px;
      margin-left: 50px;
      margin-top: 20px;
    }
    .footer {
      background-color: rgb(30, 53, 65);
      color: white;
      text-align: center;
      font-size: 20px;
      padding: 5px 0;
      bottom: 0;
      width: 100%;
  }

  
  @media screen and (min-width: 330px) and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
      height: auto;
    }
  
    .navbar ul {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 10px;
    }
  
    .navbar ul li {
      margin: 5px 0;
    }
  
    .villa-name {
      display: none;
    }
    .icon{
      height: 50px;
      margin-left: 35px;
    }
    .img-container {
      margin-top: 150px;
    }
  }
  @media screen and (min-width: 260px) and (max-width: 330px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
  
    .navbar ul {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 10px;
    }
  
    .navbar ul li {
      margin: 5px 0;
    }
  
    .villa-name {
      display: none;
    }
    
    .icon{
      height: 40px;
      margin-left: 30px;
    }
  
  }