.villa-name {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  color: #fff;
  margin-right: 40px;
}  

.img-container {
    margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
   justify-content: space-between;
  
  }
  
  .img-card {
      margin: 50px;
      padding: 10px;
      background-color: #f6f6f6;
      width: 250px;
      height: 300px;
      border-radius: 10px;
      border: none;
      box-shadow: 2px 2px 5px ;
  
  
  }
  
  .img {
      border-radius: 5px;
      height: 150px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  
  .img-name {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 0px;
  }
  .h3{
    margin-top: 5px;
  }
  .icon{
    height: 50px;
    margin-left: 50px;
    margin-top: 20px;
  }
  .footer {
    background-color: rgb(30, 53, 65);
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 5px 0;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}
@media screen and (min-width: 330px) and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .navbar ul {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  .navbar ul li {
    margin: 5px 0;
  }

  .villa-name {
    display: none;
  }
  .icon{
    height: 50px;
    margin-left: 35px;
  }
}
@media screen and (min-width: 260px) and (max-width: 330px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .navbar ul {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  .navbar ul li {
    margin: 5px 0;
  }

  .villa-name {
    display: none;
  }
  
  .icon{
    height: 40px;
    margin-left: 30px;
  }

}